legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 18px;
	font-size: 19.5px;
	line-height: 36px;
	color: #979797; /* added */
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}

.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #1d1f24; /* added */
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.breadcrumb {
	padding: 8px 15px;
	margin: 0 0 18px;
	list-style: none;
	background-color: #1d1f24; /* added */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
  	border: 1px solid #e3e3e3; /* added */
}

.brand {
	color: #09d; /* added */
	-webkit-transition: color .5s linear;
	-moz-transition: color .5s linear;
	-o-transition: color .5s linear;
	transition: color .5s linear;
}

.brand:hover {
	color: #0ae; /* added */
	text-decoration: none;
}

.login-night { /* added */
  background-color: #1d1f24;
}

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #eeeeee; /* added */
	background-color: #fff;
}


body.site.fluid {
	background-color: #000000; /* added */
}

.action-button-unset:enabled {
    /* background-color: Transparent; */
    background-color: #8a8a8a;
    background-repeat: no-repeat;
    /* border: solid white 1px; */
    /* border-radius: 20px; */
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    /* color: white; */
    color: black;
    transition-property: all;
    transition-duration: 0.25s;
    font-weight: bold;
}

.action-button-unset:hover:enabled {
    box-shadow: 6px 4px 10px 1px white;
    transform: translate(-5px, -5px) scale(1.2);
}

.action-button-unset:active:enabled {
    transition-duration: 0.1s;
    box-shadow: -1px -1px 5px 1px white;
    transform: translate(2px, 2px) scale(0.9);
}

.action-button-set {
    background-repeat: no-repeat;
    background-color: #515151;
    border-style: inset;
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: black;
    font-weight: bold;
    transform: scale(0.9);
    box-shadow: 0px 0px 5px 3px #0af;
    border-color: black;
}

.action-button-set:hover {
  	transition: none;
}

.action-button-set:active {
	transition: none;
}
