/*Variables*/
//Taskmeister theme
$pageBackground: black; //For Background
$navBg: #343a40;//For navigation bg
$mainFontColor: white; //Default Font Color
$altFontColor: darkorange; //Alt Default Font Color

//For other themes
//Sky theme
$skyBg: lightblue;
$skyNavBg: darkgray;
$skyMainFont: gray;
$skyAltFont: skyblue;

//Red theme
$redFontColor: crimson;

//Tree theme
$treeBg: wheat;
$treeNavBg: darkgreen;
$treeMainFont: brown;
$treeAltFont: green;

/*Default Tags*/
body {//Body Tag
    width: 97vw;
    overflow-x: hidden;
    display: inline-block;
    position: relative;
    height: 100%;
    margin-left: 1vw;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif, Arial, Helvetica, sans-serif, 'BioRhyme', serif;
}

h5 {
    font-weight: 700;
}

table {
    position: relative;
    border: 2px solid white;
    border-collapse: collapse;
    tr, th, td {
        border: 2px solid white;
        text-align: center;
    }
}

/*Custom Classes*/
.flex {
    display: inline-flex;
}

//Buttons
.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
  }
  
  .btn-circle i {
    position: relative;
    top: -1px;
  }
  
  .btn-circle-sm {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 0.9rem;
  }
  
  .btn-circle-lg {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 1.1rem;
  }
  
  .btn-circle-xl {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 1.3rem;
  }

.navbar {
    opacity: 0.9;
    .nav-item:hover{
        @extend .bgAlt;
    }
    .dropdown-item{
        cursor: pointer;
    }
}

/*Custom Ids */
#navLogo {//Sets the nav logo size
    width: 40px;
    height: 40px;
}

#tm_contents {//Sets the CSS for the main contents
    width: 100%;
    .col-sm-8 {
        width: 100%;
    }

}

/*
 * --Modules
 * This contains the CSS for the Taskmeister Modules
 */

/**
    Featured Article Module
    - Module used to showcase top articles in a carousel
*/
.carousel-item{
    img {
        height:40vw;
    }
 }

.featuredArticleVideo{//Set css for video
    width: 40vw;
    height: 30vw;

    iframe{
        width: 100%;
        height: 100%;
    }
}

#featuredArticlesWrapper {
    .card {
        button:hover {
            scale: 1.25;
        }
    }
}

/**
    Recommend Article Module
    - Module used to showcase articles in a net-flix style
*/
.articlesRow {//Sets CSS for the wrapper for recommend article module
    display: inline-flex;
    width: 100%;
    position: relative;
}

.recommendedArticles:focus-within,
.recommendedArticles:hover{//When hover over, translate the article to the left- used in conjuction with the zoom effect
  .article {
    transform: translateX(-25%);
  }
}

.recommendedArticles{//Sets CSS for row of articles in a line (for Recommend Articles Mod)
    display:inline-flex; 
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%; 
    width: 100%;
    margin-left: 1%;
    padding-top: 5vw;
    padding-bottom: 5vw;
    //animation
    transition: transform .4s ease-in;
    .article:focus, .article:hover {//When hover over, zoom/enlarge the article
        transform: scale(1.5);
        z-index: 99;
        overflow-x: visible;
        overflow-y: visible;
    }
    a:focus ~ a .article,
    a:hover ~ a .article {//Move all the adjacent articles to the right
        transform: translateX(25%);
    }
    .article {//Sets CSS for individual articles
        position: relative;
        padding-right: 0.5vw;
        padding-left: 0.5vw; 
        width: 20vw; 
        height: 15vw; 
        text-align: center;
        transition: transform 500ms;

        img {//Sets CSS for the image within the article
            width: 100%;
            height: 100%;
        }
        .articleSimilarity {//Sets CSS for the similarity tag above the article
            position: absolute;
            bottom: 82%;
            text-align: left;
            opacity: 0.8;
            position: absolute;
            font-size: 1.25vw;
        }
        p {//Sets CSS for the caption below the article
            position: absolute;
            bottom: -10%;
            width: 19vw;
            opacity: 0.8;
            position: absolute;
            font-size: 1.25vw;
            word-wrap: break-word;
        }
    }
    .rankedArticle{
        @extend .article;
        img {
            float: right;
            width: 50%;
        }
        h2 {//Sets CSS for ranking
            position: absolute;
            bottom: -40%;
            left: -20%;
            width: 100%;
            opacity: 1;
            color: darkgray;
            text-shadow: 2px 2px #FF0000;
            position: absolute;
            font-size: 20vw;
            word-wrap: break-word;
            z-index: -1;
        }
        h4 {//Sets CSS for ranking
            position: absolute;
            bottom: -10%;
            left: -20%;
            width: 100%;
            opacity: 1;
            color: darkgray;
            text-shadow: 2px 2px #FF0000;
            position: absolute;
            font-size: 13vw;
            word-wrap: break-word;
            z-index: -1;
        }
    }
}

.arrow:hover {//Changes color when hover over the recommended articles arrows
    cursor: pointer;
    border: solid $altFontColor;
    border-width: 0 5px 5px 0;
}

.arrow {//CSS for Recommend Articles Arrows (Left/Right)
    display: inline-block;
    padding: 3px;
    width: 2vw;
    height: 2vw;
    position: relative;
    cursor: pointer;
    margin-top: 10vw;
  }

.arrowLeft {//Sets CSS for the left arrow 
    @extend .arrow;
    left: 1%;
    transform: rotate(135deg);
}

.arrowRight {//Sets CSS for the right arrow
    @extend .arrow;
    transform: rotate(-45deg);
    position: relative;
    margin-left: 1%;
}

/**
    Choose Preference/Class Module
    - Module used to allow users pick their preferences and classes
*/

.preferenceOptions, .teachersOptions {//CSS for Wrapper for the options/input boxes
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    h3 {//CSS for the header's inputs
        text-align: center;
    }
    input {//CSS for the inputs
        display: inline-block;
        min-width: 20vw; 
        font-size: 1.5vw;
    }
}

#preferenceForm {//CSS for the hidden input boxes 
    #input_list1, #input_list2, #input_list3 {//Hidden so that it can be submitted to the php database without any injections
        display: none;
    }
    text-align: center;
    width: 90vw;
    position: relative;
}

.inputSavePreference {
    font-size: 1.5vw;
    text-align: center;
    border-radius: 8px;
    background-color: $altFontColor;
    color: $mainFontColor;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

.preferenceList, .teachersList {//Wrapper to contain all the preferences/users
    width: 90vw;
    height: 100%;
    display: inline-block;
    text-align: center;
    position: relative;
}
 
.userPreferred, .teacherSelected {//Color the state if the tag is preferred or the teacher is selected
    @extend .preferenceBox; 
    background-color: green;
    border-radius: 8px;
}
 
.userNotPreferred {//Color the state if the tag is not preferred
    @extend .preferenceBox;
    background-color: red;
    border-radius: 8px;       
}

.userMayTry {//Color the state if the tag is considered to be tried
    @extend .preferenceBox;
    background-color: goldenrod;
    border-radius: 8px;       
}

.preferenceBox, .teacherBox {//CSS for the individual boxes.
    height: 20vw;
    width: 20vw;
    position: relative;
    display: inline-flex;
    padding: 1vw;
    cursor: pointer;
    .preferenceStats{//CSS for the preference stats
        background-color: blue;
    }
    p {
        position: absolute;
        z-index: 10;
        opacity: 0.9;
        text-align: center;
        width: 18vw;
        word-wrap: anywhere;
        font-size: 1.5vw;
    }
    .preferenceLabel, .teacherLabel {//CSS for the captions below the boxes
        bottom: -0.5vw;
        background-color: $altFontColor;
    }
}

/**
* CSS for login component/Module
*/

.login-button {//CSS for the login submit button
    cursor: pointer;
}

.userdata, .input-prepend, #form-login-submit {//Pad the login form
    padding: 2%;
}

#modlgn-passwd, #modlgn-username, .login-button {//CSS for the login inputs, e.g. username and password
    width: 80%;
    padding-top: 2%;
    font-size: 1.5vw;
    text-align: center;
    border-radius: 8px;
}

.login {
    #username, #password {//Set input view
        width: 80%;
        padding-top: 2%;
        font-size: 1.5vw;
        text-align: center;
        border-radius: 8px;
    }
    #username-lbl, #password-lbl {//Hide labels
        display: none;
    }
    .control-group {
        margin-bottom: 1vw;
    }
}

/**
    CSS for popup module
*/
.modal {
    display:block;
  }

/**
    CSS for Chai Seng's Reviews
*/
#review-form{
    #review {
    width: 100%;
    }
}

/**
    CSS for articles
*/
.item-page {
    .img-container{
        a{
            //Create overlay effect for the thumbnail in article
            opacity: 0.4;
            position: absolute;
        }
    }
}

/**
    CSS THEMES
*/
//Default theme
body.default {
    background-color: $pageBackground;
    color: $mainFontColor;
    h5 {//Follow Netflix style
        color: $mainFontColor;
    }

    h3 {
        color: $altFontColor;
    }
    p {
        color: $mainFontColor;
    }
    a{
        color: $altFontColor;
    }
    .bgMain{//To fit any class with the page bg
        background-color: $pageBackground;
        color: $mainFontColor;
    }
    
    .bgAlt{//To fit any class with the alt bg
        background-color: $altFontColor;
        color: $pageBackground;
        #activeTab { //For Nav Bar: Active selection
            background-color: $altFontColor;
            color: $pageBackground;
        }
    }
    
    .textAlt{
        color: $altFontColor;
    }
    .arrow {//Set color for arrows for recommended articles mod
        border: solid $mainFontColor;
        border-width: 0 0.75vw 0.75vw 0;
    }
    .navbar {//For navigation bar
        background-color: $navBg;
        .nav-link{
            color: $mainFontColor;
        }
        .dropdown-menu {
            background-color: $navBg;
            .dropdown-item {
                color: $mainFontColor;
            }
            .dropdown-item:hover{
                color: $pageBackground;
            }
        }
    }
    .article{//For article box
        .articleSimilarity{
            background-color: darkgreen;
            color: $mainFontColor;
        }
        p {
            background-color: $altFontColor;
            color: $mainFontColor
        }
    }
    .rankedArticle{//For ranked article shadowing/3D effect
        h2{
            text-shadow: 2px 2px $altFontColor;
        }
    }
    #featuredArticlesWrapper {//For featured article mod
        .card-body{
            background-color: #343a40;
            .card-text {
                color: $mainFontColor;
            }
        }
    }
    .preferenceBox, .teacherBox {//For preferences
        .preferenceLabel, .teacherLabel{
            background-color: $altFontColor;
            color: $mainFontColor;
        }
    }
    .inputSavePreference {//Input buttons
        background-color: $altFontColor;
        color: $mainFontColor;
    }
    #tm_contents{//Contents for articles in taskmeister
        .col-sm-4 {//For right column of article stats
            background-color: #343a40;
        }
    }
    .login-button{//Set login button
        background-color: $altFontColor;
        color: $mainFontColor;
    }
    .well {//Set wells color
        background-color: #1d1f24;
        label {
            color: gray;
        }
    }
}

//Red theme
body.red {
    background-color: $pageBackground;
    color: $mainFontColor;
    h5 {//Follow Netflix style
        color: $mainFontColor;
    }

    h3 {
        color: $redFontColor;
    }
    p {
        color: $mainFontColor;
    }
    a{
        color: $redFontColor;
    }
    .bgMain{//To fit any class with the page bg
        background-color: $pageBackground;
        color: $mainFontColor;
    }
    
    .bgAlt{//To fit any class with the alt bg
        background-color: $redFontColor;
        color: $mainFontColor;
        #activeTab { //For Nav Bar: Active selection
            background-color: $redFontColor;
            color: $mainFontColor;
        }
    }
    
    .textAlt{
        color: $redFontColor;
    }
    .arrow {//Set color for arrows for recommended articles mod
        border: solid $mainFontColor;
        border-width: 0 0.75vw 0.75vw 0;
    }
    .navbar {//For navigation bar
        background-color: $navBg;
        .nav-link{
            color: $mainFontColor;
        }
        .dropdown-menu {
            background-color: $navBg;
            .dropdown-item {
                color: $mainFontColor;
            }
            .dropdown-item:hover{
                color: $pageBackground;
            }
        }
    }
    .article{//For article box
        .articleSimilarity{
            background-color: darkgreen;
            color: $mainFontColor;
        }
        p {
            background-color: $redFontColor;
            color: $mainFontColor
        }
    }
    .rankedArticle{//For ranked article shadowing/3D effect
        h2{
            text-shadow: 2px 2px $redFontColor;
        }
    }
    #featuredArticlesWrapper {//For featured article mod
        .card-body{
            background-color: #343a40;
            .card-text {
                color: $mainFontColor;
            }
        }
    }
    .preferenceBox, .teacherBox {//For preferences
        .preferenceLabel, .teacherLabel{
            background-color: $redFontColor;
            color: $mainFontColor;
        }
    }
    .inputSavePreference {//Input buttons
        background-color: $redFontColor;
        color: $mainFontColor;
    }
    #tm_contents{//Contents for articles in taskmeister
        .col-sm-4 {//For right column of article stats
            background-color: #343a40;
        }
    }
    .login-button{//Set login button
        background-color: $redFontColor;
        color: $mainFontColor;
    }
    .well {//Set wells color
        background-color: #1d1f24;
        label {
            color: gray;
        }
    }
}

//Day theme
body.day {
    background-color: $skyBg;
    color: $skyMainFont;
    h5 {//Set Blue
        color: $skyMainFont;
    }

    h3 {
        color: $skyMainFont;
    }
    p {
        color: $skyMainFont;
    }
    a{
        color: blue;
    }
    .bgMain{//To fit any class with the page bg
        background-color: $skyBg;
        color: $skyMainFont;
    }
    
    .bgAlt{//To fit any class with the alt bg
        background-color: $skyAltFont;
        color: $mainFontColor;
        #activeTab { //For Nav Bar: Active selection
            background-color: $skyAltFont;
            color: $pageBackground;
        }
    }
    
    .textAlt{
        color: $skyAltFont;
    }
    .arrow {//Set color for arrows for recommended articles mod
        border: solid $skyMainFont;
        border-width: 0 0.75vw 0.75vw 0;
    }
    .navbar{
        background-color: $skyNavBg;
        .nav-link{
            color: $pageBackground;
        }
        .dropdown-menu {
            background-color: $skyNavBg;
            .dropdown-item:hover{
                background-color: $skyAltFont;
            }
        }
    }
    .article{//For css in article box
        .articleSimilarity{
            background-color: darkgreen;
            color: $mainFontColor;
        }
        p {
            background-color: $skyNavBg;
            color: $mainFontColor;
        }
    }
    .rankedArticle{//For ranked article shadowing/3D effect
        h2{
            text-shadow: 2px 2px blue;
        }
    }
    #featuredArticlesWrapper {//For featured article mod
        .card-body{
            background-color: $skyMainFont;
            .card-text {
                color: $mainFontColor;
            }
        }
    }
    .preferenceBox, .teacherBox {//Boxes for preferences
        .preferenceLabel, .teacherLabel{
            background-color: $skyNavBg;
            color: $mainFontColor;
        }
    }
    .inputSavePreference {//Input buttons
        background-color: $skyNavBg;
        color: $mainFontColor;
    }
    a{
        color: blue;
    }
    #tm_contents{//Contents for articles in taskmeister
        .col-sm-4 {//For right column of article stats
            background-color: lightgray;
        }
    }
    .login-button{//Set login button
        background-color: $skyAltFont;
        color: $mainFontColor;
    }
    .well {//Set well color
        background-color: $skyMainFont;
        label {
            color: white;
        }
    }
}

//Red theme
body.red {
    background-color: $pageBackground;
    color: $mainFontColor;
    h5 {//Follow Netflix style
        color: $mainFontColor;
    }

    h3 {
        color: $redFontColor;
    }
    p {
        color: $mainFontColor;
    }
    a{
        color: $redFontColor;
    }
    .bgMain{//To fit any class with the page bg
        background-color: $pageBackground;
        color: $mainFontColor;
    }
    
    .bgAlt{//To fit any class with the alt bg
        background-color: $redFontColor;
        color: $mainFontColor;
        #activeTab { //For Nav Bar: Active selection
            background-color: $redFontColor;
            color: $mainFontColor;
        }
    }
    
    .textAlt{
        color: $redFontColor;
    }
    .arrow {//Set color for arrows for recommended articles mod
        border: solid $mainFontColor;
        border-width: 0 0.75vw 0.75vw 0;
    }
    .navbar {//For navigation bar
        background-color: $navBg;
        .nav-link{
            color: $mainFontColor;
        }
        .dropdown-menu {
            background-color: $navBg;
            .dropdown-item {
                color: $mainFontColor;
            }
            .dropdown-item:hover{
                color: $pageBackground;
            }
        }
    }
    .article{//For article box
        .articleSimilarity{
            background-color: darkgreen;
            color: $mainFontColor;
        }
        p {
            background-color: $redFontColor;
            color: $mainFontColor
        }
    }
    .rankedArticle{//For ranked article shadowing/3D effect
        h2{
            text-shadow: 2px 2px $redFontColor;
        }
    }
    #featuredArticlesWrapper {//For featured article mod
        .card-body{
            background-color: #343a40;
            .card-text {
                color: $mainFontColor;
            }
        }
    }
    .preferenceBox, .teacherBox {//For preferences
        .preferenceLabel, .teacherLabel{
            background-color: $redFontColor;
            color: $mainFontColor;
        }
    }
    .inputSavePreference {//Input buttons
        background-color: $redFontColor;
        color: $mainFontColor;
    }
    #tm_contents{//Contents for articles in taskmeister
        .col-sm-4 {//For right column of article stats
            background-color: #343a40;
        }
    }
    .login-button{//Set login button
        background-color: $redFontColor;
        color: $mainFontColor;
    }
    .well {//Set wells color
        background-color: #1d1f24;
        label {
            color: gray;
        }
    }
}

//Tree theme
body.tree {
    background-color: $treeBg;
    color: $treeMainFont;
    h5, h3, p {
        color: $treeMainFont;
    }
    a{
        color: $treeAltFont;
    }
    .bgMain{//To fit any class with the page bg
        background-color: $treeBg;
        color: $treeMainFont;
    }
    
    .bgAlt{//To fit any class with the alt bg
        background-color: $treeMainFont;
        color: $mainFontColor;
        #activeTab { //For Nav Bar: Active selection
            background-color: $treeMainFont;
            color: $mainFontColor;
        }
    }
    
    .textAlt{
        color: $treeAltFont;
    }
    .arrow {//Set color for arrows for recommended articles mod
        border: solid $treeMainFont;
        border-width: 0 0.75vw 0.75vw 0;
    }
    .navbar{
        background-color: $treeNavBg;
        .nav-link{
            color: white;
        }
        .nav-link:hover{
            background-color: $treeMainFont;
        }
        .dropdown-menu {
            background-color: $treeNavBg;
            .dropdown-item{
                color: white;
            }
            .dropdown-item:hover{
                background-color: $treeMainFont;
            }
        }
    }
    .article{//For css in article box
        .articleSimilarity{
            background-color: darkgreen;
            color: $mainFontColor;
        }
        p {
            background-color: $treeMainFont;
            color: $mainFontColor;
        }
    }
    .rankedArticle{//For ranked article shadowing/3D effect
        h2{
            text-shadow: 2px 2px $treeAltFont;
        }
    }
    #featuredArticlesWrapper {//For featured article mod
        .card-body{
            background-color: $treeBg;
            .card-text {
                color: $treeMainFont;
            }
        }
    }
    .preferenceBox, .teacherBox {//Boxes for preferences
        .preferenceLabel, .teacherLabel{
            background-color: $treeNavBg;
            color: $mainFontColor;
        }
    }
    .inputSavePreference {//Input buttons
        background-color: $treeNavBg;
        color: $mainFontColor;
    }
    a{
        color: $treeAltFont;
    }
    #tm_contents{//Contents for articles in taskmeister
        .col-sm-4 {//For right column of article stats
            background-color: lightgreen;
        }
    }
    .login-button{//Set login button
        background-color: $treeAltFont;
        color: $mainFontColor;
    }
    .well {//Set well color
        background-color: $treeMainFont;
        label {
            color: white;
        }
    }
}