/*Variables*/
$pageBackground: black; //For background
$mainFontColor: white; //For default font color
$altFontColor: yellow; //For alt default font color

/*Default Tags*/
body {//Body Tag
    margin-left: 5%;
    background-color: $pageBackground;
    color: $mainFontColor;
    width: 90%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/*Custom Tags*/
#topWrapper {//Top Wrapper
  background-color: $pageBackground;
  padding-top: 2%;
  color: $mainFontColor;
  border-bottom: 7px solid blue;
}

#topLeft{/*Set css for Top Left*/
    position: relative;
    left: 0%;
}

#topRight{/*Set css for Top Right*/
    position: relative;
    right: -80%;
}

.logo{/*Set css for logo*/
    height: 100px;
    width: 200px;
}

#centerWrapper{/*Set CSS for center Wrapper*/
  height: 500px;
  width: 100%;
  background-color: white;
}


#rightBanner{/*CSS for MOE learning generator Wrapper*/
    position: relative;
    width: 40%;
    left: 50%;
    bottom: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.7;
}

#rightBanner p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 72px;
    font-style: bold;
    color: $altFontColor;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.wrapper {/*CSS for general wrapper*/
    text-align: center;
    background-color: rgb(51, 51, 51);
    padding: 10%;

    h1 {//Wrap
    font-size: 72px;
    font-style: bold;
    color: $altFontColor;
    }
}

#contentArea{//Bottom half of page
    display: inline-block;
    width: 100%;
}

.background {//For animated img
    position: relative;
    width: 100%;
}