/*Variables*/
/*Default Tags*/
body {
  background-color: black;
  color: white;
  width: 97vw;
  overflow-x: hidden;
  display: inline-block;
  position: relative;
  height: 100%;
  margin-left: 1vw;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, Arial, Helvetica, sans-serif, "BioRhyme", serif;
}

p {
  color: white;
}

h3 {
  color: darkorange;
}

h5 {
  color: white;
  font-weight: 700;
}

table {
  position: relative;
  border: 2px solid white;
  border-collapse: collapse;
}
table tr, table th, table td {
  border: 2px solid white;
  text-align: center;
}

/*Custom Classes*/
.bgMain {
  background-color: black;
  color: white;
}

.bgAlt {
  background-color: darkorange;
  color: black;
}
.bgAlt #activeTab {
  background-color: darkorange;
  color: black;
}

.textAlt {
  color: darkorange;
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
}

.btn-circle-lg {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.1rem;
}

.btn-circle-xl {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 1.3rem;
}

/*Custom Ids */
#navLogo {
  width: 40px;
  height: 40px;
}

#tm_contents {
  width: 100%;
}
#tm_contents .col-sm-8 {
  width: 100%;
}

/*
 * --Modules
 * This contains the CSS for the Taskmeister Modules
 */
/**
    Featured Article Module
    - Module used to showcase top articles in a carousel
*/
.carousel-item img {
  height: 40vw;
}

.featuredArticleVideo {
  width: 40vw;
  height: 30vw;
}
.featuredArticleVideo iframe {
  width: 100%;
  height: 100%;
}

/**
    Recommend Article Module
    - Module used to showcase articles in a net-flix style
*/
.articlesRow {
  display: inline-flex;
  width: 100%;
  left: -2vw;
  position: relative;
}

.recommendedArticles:focus-within .article, .recommendedArticles:focus-within .rankedArticle,
.recommendedArticles:hover .article,
.recommendedArticles:hover .rankedArticle {
  transform: translateX(-25%);
}

.recommendedArticles {
  display: inline-flex;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 20vw;
  width: 100%;
  margin-left: 1%;
  padding-top: 5vw;
  padding-bottom: 5vw;
  transition: transform 0.4s ease-in;
}
.recommendedArticles .article:focus, .recommendedArticles .rankedArticle:focus, .recommendedArticles .article:hover, .recommendedArticles .rankedArticle:hover {
  transform: scale(1.5);
  z-index: 99;
  overflow-x: visible;
  overflow-y: visible;
}
.recommendedArticles a:focus ~ a .article, .recommendedArticles a:focus ~ a .rankedArticle,
.recommendedArticles a:hover ~ a .article,
.recommendedArticles a:hover ~ a .rankedArticle {
  transform: translateX(25%);
}
.recommendedArticles .article, .recommendedArticles .rankedArticle {
  position: relative;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
  width: 15vw;
  height: 15vw;
  text-align: center;
  transition: transform 500ms;
}
.recommendedArticles .article img, .recommendedArticles .rankedArticle img {
  width: 100%;
  height: 100%;
}
.recommendedArticles .article .articleSimilarity, .recommendedArticles .rankedArticle .articleSimilarity {
  position: absolute;
  bottom: 82%;
  text-align: left;
  background-color: darkgreen;
  opacity: 0.8;
  color: white;
  position: absolute;
  font-size: 1.25vw;
}
.recommendedArticles .article p, .recommendedArticles .rankedArticle p {
  position: absolute;
  bottom: -10%;
  width: 14vw;
  background-color: darkorange;
  opacity: 0.8;
  color: white;
  position: absolute;
  font-size: 1.25vw;
  word-wrap: break-word;
}
.recommendedArticles .rankedArticle img {
  float: right;
  width: 50%;
}
.recommendedArticles .rankedArticle h2 {
  position: absolute;
  bottom: -140%;
  left: -20%;
  width: 100%;
  opacity: 1;
  color: darkgray;
  text-shadow: 2px 2px #FF0000;
  position: absolute;
  font-size: 20vw;
  word-wrap: break-word;
  z-index: -1;
}
.recommendedArticles .rankedArticle h4 {
  position: absolute;
  bottom: -120%;
  left: -20%;
  width: 100%;
  opacity: 1;
  color: darkgray;
  text-shadow: 2px 2px #FF0000;
  position: absolute;
  font-size: 13vw;
  word-wrap: break-word;
  z-index: -1;
}

.arrow:hover, .arrowRight:hover, .arrowLeft:hover {
  cursor: pointer;
  border: solid darkorange;
  border-width: 0 5px 5px 0;
}

.arrow, .arrowRight, .arrowLeft {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
  width: 2vw;
  height: 2vw;
  position: relative;
  cursor: pointer;
  margin-top: 10vw;
}

.arrowLeft {
  left: 1%;
  transform: rotate(135deg);
}

.arrowRight {
  transform: rotate(-45deg);
  position: relative;
  margin-left: 1%;
}

/**
    Choose Preference/Class Module
    - Module used to allow users pick their preferences and classes
*/
.preferenceOptions, .teachersOptions {
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;
}
.preferenceOptions h3, .teachersOptions h3 {
  text-align: center;
}
.preferenceOptions input, .teachersOptions input {
  display: inline-block;
  min-width: 20vw;
  font-size: 1.5vw;
}

#preferenceForm {
  text-align: center;
  width: 90vw;
  position: relative;
}
#preferenceForm #input_list1, #preferenceForm #input_list2, #preferenceForm #input_list3 {
  display: none;
}

.inputSavePreference {
  font-size: 1.5vw;
  text-align: center;
  border-radius: 8px;
  background-color: darkorange;
  color: white;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

.preferenceList, .teachersList {
  width: 90vw;
  height: 100%;
  display: inline-block;
  text-align: center;
  position: relative;
}

.userPreferred, .teacherSelected {
  background-color: green;
  border-radius: 8px;
}

.userNotPreferred {
  background-color: red;
  border-radius: 8px;
}

.userMayTry {
  background-color: goldenrod;
  border-radius: 8px;
}

.preferenceBox, .userPreferred, .teacherSelected, .userNotPreferred, .userMayTry, .teacherBox {
  height: 15vw;
  width: 15vw;
  position: relative;
  display: inline-flex;
  padding: 1vw;
  cursor: pointer;
}
.preferenceBox .preferenceStats, .userPreferred .preferenceStats, .teacherSelected .preferenceStats, .userNotPreferred .preferenceStats, .userMayTry .preferenceStats, .teacherBox .preferenceStats {
  background-color: blue;
}
.preferenceBox p, .userPreferred p, .teacherSelected p, .userNotPreferred p, .userMayTry p, .teacherBox p {
  position: absolute;
  z-index: 10;
  opacity: 0.9;
  text-align: center;
  width: 13vw;
  word-wrap: anywhere;
  font-size: 1.5vw;
}
.preferenceBox .preferenceLabel, .userPreferred .preferenceLabel, .teacherSelected .preferenceLabel, .userNotPreferred .preferenceLabel, .userMayTry .preferenceLabel, .preferenceBox .teacherLabel, .userPreferred .teacherLabel, .teacherSelected .teacherLabel, .userNotPreferred .teacherLabel, .userMayTry .teacherLabel, .teacherBox .preferenceLabel, .teacherBox .teacherLabel {
  bottom: -0.5vw;
  background-color: darkorange;
}

/*# sourceMappingURL=template.css.map */
