button.read-all,
button.read-more,
button.read-less,
button.close-all {
    /* background-color: Transparent; */
    background-color: #8a8a8a;
    background-repeat: no-repeat;
    /* border: solid white 1px; */
    /* border-radius: 20px; */
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    /* color: white; */
    color: black;
    transition-property: all;
    transition-duration: 0.25s;
    font-weight: bold;
}
input.review-submit {
    /* background-color: Transparent; */
    background-color: #00c000;
    background-repeat: no-repeat;
    /* border: solid #00c000 2px; */
    /* border-radius: 20px; */
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    /* color: white; */
    color: #191919;
    transition-property: all;
    transition-duration: 0.25s;
    font-weight: bold;
}
button.read-all:hover:enabled,
button.read-more:hover:enabled,
button.read-less:hover:enabled,
button.close-all:hover:enabled,
input.review-submit:hover {
    box-shadow: 6px 4px 10px 1px white;
    transform: translate(-5px, -5px) scale(1.2);
}
button.read-all:active:enabled,
button.read-more:active:enabled,
button.read-less:active:enabled,
button.close-all:active:enabled,
input.review-submit:active {
    transition-duration: 0.1s;
    box-shadow: -1px -1px 5px 1px white;
    transform: translate(2px, 2px) scale(0.9);
}
button.read-less,
button.close-all {
    float: right;
}
button.read-more {
    margin-left: 10%;
}
button.read-less {
    margin-right: 10%;
}
.review.read-more {
    display: none;
}
#testimonials section{
    background-color: black;
    margin-left: -2.2%;
    margin-right: -2.2%;
    padding: 50px 0px 20px 100px;
}
#testimonials h1{
    color: #ffc03a;
    /* text-align: center; */
    text-transform: uppercase;
    width: 16em;
}
.reviews {
    color: white;
    width: 50vw;
    height: auto;
    min-width: 500px;
    /* margin-left: auto;
    margin-right: auto; */
}
.review {
    margin-bottom: 50px;
    border-bottom: solid #eeeeee 1px;
    float: left;
    width: 100%;
}
.review-user-info {
    float: left;
    width: calc(20% - 11px);
    border-right: #eeeeee solid 1px;
    margin-right: 10px;
    padding-bottom: 10px;
}
.review-summary {
    float: right;
    width: 80%;
}
.review-summary,
.review-ease,
.review-effectiveness {
    margin-bottom: 10px;
}
.review-summary p,
.review-ease p,
.review-effectiveness p {
    padding-top: 2px;
}
.review-summary h2,
.review-ease h2,
.review-effectiveness h2 {
    display: inline;
}
.review-status-msg {
    /* text-align: center; */
    color: white;
    text-transform: none;
}
#review-form section {
    background-color: #191919;
    margin-left: -2.2%;
    margin-right: -2.2%;
    padding: 100px;
}
#submit_review {
    color: white;
    width:50vw;
    /* margin: 0 auto; */
}
.submit_review h1 {
    color: #ffc03a;
    /* text-align: center; */
    text-transform: uppercase;
}
.invalid {
    border-color: red !important;
}
/* button.set {
    transform: scale(0.9);
    background-color: #515151;
    border-style: inset;
    box-shadow: 0px 0px 5px 3px #0af;
    border-color: black;
} */