.rating {
  text-align: center;
  position: relative;
  float: left;
  padding-right: 10px;
  padding-bottom: 5px;
  vertical-align: inherit;
  width: 147px;
  }
.hidden {
   opacity: 0;
  }
.star-animated {
  display: inline-block;
  width: 20%;
  font-size: 29px;
  color: whitesmoke;
  position: relative;
}
.star-static {
  display: inline-block;
  width: 20%;
  font-size: 29px;
  color: whitesmoke;
  position: relative;
}
.star-animated.animate {
  -webkit-animation: stretch-bounce 0.5s ease-in-out;
  animation: stretch-bounce 0.5s ease-in-out;
}
.star-animated.hidden {
  opacity: 0;
}
.full::before {
  font-family: fontAwesome;
  display: inline-block;
  content: "\f005";
  position: relative;
  float: right;
  z-index: 2;
}
.full-static::before {
  font-family: fontAwesome;
  display: inline-block;
  content: "\f005";
  position: relative;
  float: right;
  z-index: 2;
}
.half::before {
  font-family: fontAwesome;
  content: "\f089";
  position: absolute;
  float: left;
  z-index: 3;
}
.half-static::before {
  font-family: fontAwesome;
  content: "\f089";
  position: absolute;
  float: left;
  z-index: 3;
}
.star-colour {
  color: #ffd700;
}
@-webkit-keyframes stretch-bounce {
  0% {
    -webkit-transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.5);
  }
  50% {
    -webkit-transform: scale(0.9);
  }
  75% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes stretch-bounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.selected::before {
  font-family: fontAwesome;
  display: inline-block;
  content: "\f005";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  z-index: 1;
}
.selected.pulse::before {
  -webkit-transform: scale(3);
  transform: scale(3);
  opacity: 0;
}
.selected.is-animated::before {
  transition: 1s ease-out;
}
.score {
  font-family: arial;
  font-size: 20px;
  color: green;
  margin-top: 20px;
  margin-left: 50px;
}
.score-rating {
  vertical-align: sub;
  top: -5px;
  position: relative;
  font-size: 150%;
}
.total {
  vertical-align: sub;
  top: 0px;
  position: relative;
  font-size: 100%;
}
.average {
  font-family: arial;
  font-size: 20px;
  color: indianred;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.average .score-average {
  padding-top: 30px;
}  