/*Variables*/
$pageBackground: black; //For background
$headerBackground: darkgray;
$mainFontColor: white; //For default font color
$altFontColor: yellow; //For alt default font color

/*Default Tags*/
body {//Body Tag
    background-color: $pageBackground;
    color: $mainFontColor;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-x: hidden;
    display: inline-block;
}

/*Custom Tags*/
#topRow{/*Set css for Top Right*/
    position: absolute;
    width: 100%;
    display: inline-block;
    height: 30%;
    background-color: $headerBackground;
    /*CSS for internal link*/
    a {
        width: 30%;
        position: absolute;
        font-size: x-large;
    }
}

.logo{/*Set css for logo*/
    width: 100%;
    top:1%;
}

.left {
    left: 0%;
}

.right{
    left: 90%;
}

.accountIcon{
    width: 20%;
    height: 20%;
    text-align: center;
    padding: 2%;
}