/*Variables*/
$pageBackground: black; //For background
$headerBackground: darkgray;
$mainFontColor: white; //For default font color
$altFontColor: gold; //For alt default font color

/*Default Tags*/
body {//Body Tag
    background-color: $pageBackground;
    color: $mainFontColor;
    width: 97vw;
    overflow-x: hidden;
    display: inline-block;
    position: relative;
    height: auto;
    font-size: 1.5vw;
}

p {
    color: $mainFontColor;
    font-size: 1vw;
}

h3 {
    color: $altFontColor;
    text-align: left;
    font-size: 2vw;
}

table {
    border: 1px solid white; 
    border-collapse: collapse;
    font-size: 1.25vw;
    th, td {
        border: 1px solid white; 
    }
}

/*Custom Tags*/
.columnCenter{
    left: 30%;
    position: absolute;
    width: 33%;
    text-align: center;
}

.left {
    left: 0%;
}

.right{
    left: 80%;
}

#topRow{/*Set css for Top Right*/
    position: relative;
    width: 100%;
    display: inline-block;
    height: 100px;
    background-color: $headerBackground;
    /*CSS for internal link*/
    a {
        position: absolute;
        font-size: x-large;
        height: 100%;
    }
    .logo{/*Set css for logo*/
        height:100%;
        width: 30vw;
    }
    .right{
        left: 0vw;
    }
}

#centerRow{
    position: relative;
    width: 95%;
    top: 30%;
    display: inline-block;
    margin: 10px;
    overflow-x: hidden;
    height: 80vh;
    scrollbar-color: gray black;
    .center {
        @extend .columnCenter;
    }
    .left {
        position: absolute;
        left: 0%;
        width: 100%;
    }
}

#bottomRow{
    position: relative;
    width: 100%;
    bottom: 100%;
    margin: 10px;
    .center {
        @extend .columnCenter;
        text-align: center;
    }
}

.accountIcon{
    width: 5vw;
    height: 5vw;
    text-align: right;
    padding: 1vw;
    margin-left: 1vw;
}

.articlesRow {
    display: inline-flex;
    width: 80vw;
    padding-left: 5px;
}

.recommendedArticles{
    display:inline-flex; 
    overflow-x: hidden;
    overflow-y: hidden; 
    height: 15vw; 
    width: 100%;
    padding-left: 3%;

    .article {
        position: relative;
        padding-right: 5px; 
        width: 15vw; 
        height: 15vw; 
        text-align: center;

        img {
            width: 100%;
            height: 100%;
        }

        p {
            position: absolute;
            bottom: -10%;
            width: 97%;
            background-color: #695f00;
            opacity: 0.8;
            color: $mainFontColor;
            position: absolute;
            font-size: 1.3vw;
        }
    }
}

.arrow {
    border: solid $mainFontColor;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    width: 2vw;
    height: 2vw;
    position: absolute;
    cursor: pointer;
    margin-top: 70px;
  }

.arrow:hover {
    cursor: pointer;
}

.arrowLeft {
    @extend .arrow;
    left: 1%;
    transform: rotate(135deg);
}

.arrowRight {
    @extend .arrow;
    transform: rotate(-45deg);
    left: 92%;
}

.customtopMsg{
    text-align: right;
    left: 50%;
    position: absolute;
    width: 100%;
}

.customtext{
    text-align: center;
    color: $mainFontColor;
    h3 {
        color: $altFontColor;
        text-align: left;
    }

}

//For the User Preference Mod
.preferenceOptions {
    position: relative;
    z-index: 1;
    width: 100%;
    h3 {
        text-align: center;
    }
    input {
        display: inline-block;
        min-width: 50px; 
    }
}
.preferenceList {
    width: 90vw;
    height: 100%;
    display: inline-block;
    text-align: center;
    position: relative;
    right: 90%;
}
 
.userPreferred {
    @extend .preferenceBox; 
    background-color: green;
}
 
.userNotPreferred {
    @extend .preferenceBox;
    background-color: red;       
}

.userMayTry {
    @extend .preferenceBox;
    background-color: goldenrod;       
}

.preferenceBox {
    height: 15vw;
    width: 15vw;
    position: relative;
    display: inline-flex;
    padding: 1vw;
    cursor: pointer;

    p {
        position: absolute;
        z-index: 10;
        bottom: -0.5vw;
        background-color: $altFontColor;
        opacity: 0.9;
        text-align: center;
        width: 15vw;
        word-wrap: wrap;
        font-size: 1.5vw;
    }
}

#customMenu {
    width: 70vw;
    padding-left: 3vw;
    text-align: left;
    padding-top: 2vw;
    a {
        position: relative;
        padding: 10px;
        color: $altFontColor;
        text-decoration: none ;
        font-size: 1.7vw;
    }
    a:hover{
        color: $mainFontColor;
        background-color: $altFontColor;
        text-decoration: none ;
    }
} 

#topRight{
    position: absolute;
    left: 90%;
}

.featuredArticle{
    display: inline-flex;
    text-align: center;
    left: 30%;
    position: relative;
    background-color: brown;
    width: 50vw;
    iframe, img {
        width: 25vw;
        height: 25vw;
    }
    .featuredArticleText{
        display: inline-block;
        font-size: 1.5vw;
        padding-top: 5%;
        padding-left: 2%;
        padding-right: 2%;

        h3{
            @extend h3;
            text-align: center;
        }
    }
}

.login-button {
    background-color: $altFontColor;
    color: $mainFontColor;
}

.userdata, .input-prepend, #form-login-submit {
    padding: 2%;
}

#modlgn-passwd, #modlgn-username, .login-button {
    width: 80%;
    padding-top: 2%;
    font-size: large;
    text-align: center;
    border-radius: 8px;
}

.search {
    padding: 1vw;
    padding-left: 5vw;
    width: 30vw;
    font-size: 1vw;
}