/*Variables*/
$pageBackground: black; //For Background
$headerBackground: darkgray; //For Header Background
$mainFontColor: white; //Default Font Color
$altFontColor: gold; //Alt Default Font Color

/*Default Tags*/
body {//Body Tag
    background-color: $pageBackground;
    color: $mainFontColor;
    width: 97vw;
    overflow-x: hidden;
    display: inline-block;
    position: relative;
    height: auto;
    font-size: 1.5vw;
}

p {
    color: $mainFontColor;
    font-size: 1vw;
}

h3 {
    color: $altFontColor;
    text-align: left;
    font-size: 2vw;
}

table {
    border: 1px solid white; 
    border-collapse: collapse;
    font-size: 1.25vw;
    th, td {
        border: 1px solid white; 
    }
}

/*Custom Tags*/
/*
* CSS For Positioning Modules
*/
.columnCenter{//This is to position the center column
    left: 30%;
    position: absolute;
    width: 33%;
    text-align: center;
}

.left {//This is to position the left column
    left: 0%;
}

.right{//This is to position the right column
    left: 80%;
}

#topRow{/*This is to position the top row*/
    position: relative;
    width: 100%;
    display: inline-block;
    height: 10vw;
    background-color: $headerBackground;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    /*CSS for internal link*/
    a {
        position: absolute;
        font-size: x-large;
        height: 100%;
    }
    .logo{/*Set css for logo*/
        height:100%;
        width: 30vw;
    }
    .logo:hover{//CSS for hover logo
        animation: flashing 1s;
        animation-iteration-count: infinite;
    }

}

#topRight{//CSS for the top right area of the page
    position: absolute;
    left: 62%;
    text-align: right;
    .right{ 
        display: inline-flex;
        margin-top: 4vw;
        left: 60%;
    }
}

#centerRow{//Sets CSS for center row
    position: relative;
    width: 95%;
    display: inline-block;
    margin: 10px;
    overflow-x: hidden;
    height: 500vh;
    scrollbar-color: gray black;
    //Animation
    animation-name: fromLeft;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    .center {//Sets CSS for center column in center row
        @extend .columnCenter;
    }
    .left {//Sets CSS for left column in center row
        position: absolute;
        left: 0%;
        width: 100%;
    }
}

#bottomRow{//Sets CSS for bottom row
    position: relative;
    width: 100%;
    margin: 10px;
    //Animation
    animation-name: fromLeft;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    .center {//Sets CSS for center column in bottom row
        @extend .columnCenter;
        text-align: center;
    }
}


/*CSS for other objects*/

//Login Module//

.accountIcon{//Sets CSS for the account icon/profile picture
    width: 4vw;
    height: 4vw;
    text-align: right;
    padding-left: 1vw;
}

.accountIcon:hover {//Hover state for the account icon
    animation: flashing 1s;
    animation-iteration-count: infinite;
}

.login-button {//CSS for the login submit button
    background-color: $altFontColor;
    color: $mainFontColor;
}

.userdata, .input-prepend, #form-login-submit {//Pad the login form
    padding: 2%;
}

#modlgn-passwd, #modlgn-username, .login-button {//CSS for the login inputs, e.g. username and password
    width: 80%;
    padding-top: 2%;
    font-size: large;
    text-align: center;
    border-radius: 8px;
}

//Recommend Articles Module//

.articlesRow {//Sets CSS for the wrapper for recommend article module
    display: inline-flex;
    width: 80vw;
    padding-left: 5px;
}

.recommendedArticles:focus-within,
.recommendedArticles:hover{//When hover over, translate the article to the left- used in conjuction with the zoom effect
  .article {
    transform: translateX(-25%);
  }
}

.recommendedArticles{//Sets CSS for row of articles in a line (for Recommend Articles Mod)
    display:inline-flex; 
    overflow-x: hidden;
    height: 15vw; 
    width: 100%;
    padding-left: 3%;
    padding-top: 5vw;
    padding-bottom: 5vw;
    //animation
    transition: transform .4s ease-in;
    .article:focus, .article:hover {//When hover over, zoom/enlarge the article
        transform: scale(1.5);
        z-index: 99;
    }
    a:focus ~ a .article,
    a:hover ~ a .article {//Move all the adjacent articles to the right
        transform: translateX(25%);
    }
    .article {//Sets CSS for individual articles
        position: relative;
        padding-right: 5px; 
        width: 15vw; 
        height: 15vw; 
        text-align: center;
        transition: transform 500ms;

        img {//Sets CSS for the image within the article
            width: 100%;
            height: 100%;
        }
        .articleSimilarity {//Sets CSS for the similarity tag above the article
            position: absolute;
            bottom: 90%;
            text-align: left;
            background-color: darkgreen;
            opacity: 0.8;
            color: $mainFontColor;
            position: absolute;
            font-size: 1.3vw;
        }
        p {//Sets CSS for the caption below the article
            position: absolute;
            bottom: -10%;
            width: 97%;
            background-color: #695f00;
            opacity: 0.8;
            color: $mainFontColor;
            position: absolute;
            font-size: 1.3vw;
            word-wrap: break-word;
        }
    }
}

.arrow:hover {//Changes color when hover over the recommended articles arrows
    cursor: pointer;
    border: solid $altFontColor;
    border-width: 0 5px 5px 0;
}

.arrow {//CSS for Recommend Articles Arrows (Left/Right)
    border: solid $mainFontColor;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    width: 2vw;
    height: 2vw;
    position: absolute;
    cursor: pointer;
    margin-top: 10vw;
  }

.arrowLeft {//Sets CSS for the left arrow 
    @extend .arrow;
    left: 1%;
    transform: rotate(135deg);
}

.arrowRight {//Sets CSS for the right arrow
    @extend .arrow;
    transform: rotate(-45deg);
    left: 92%;
}


//Custom Text Mod (almost all the custom mods use this anyway)
.customtopMsg{//Old CSS for custom top message
    text-align: right;
    left: 50%;
    position: absolute;
    width: 100%;
}

.customtext{//Sets CSS of the custom text in the Custom Text Mod
    text-align: center;
    color: $mainFontColor;
    h3 {//Sets CSS of the header of the custom text
        color: $altFontColor;
        text-align: left;
    }

}

//For the User Preference Mod/Choose Class Mod
.preferenceOptions, .teachersOptions {//CSS for Wrapper for the options/input boxes
    position: relative;
    z-index: 1;
    width: 100%;
    h3 {//CSS for the header's inputs
        text-align: center;
    }
    input {//CSS for the inputs
        display: inline-block;
        min-width: 20vw; 
        font-size: 1.5vw;
    }
}

#preferenceForm {//CSS for the hidden input boxes 
    #input_list1, #input_list2, #input_list3 {//Hidden so that it can be submitted to the php database without any injections
        display: none;
    }
    text-align: center;
    width: 90vw;
    position: relative;
    left: -27vw;
}

.preferenceList, .teachersList {//Wrapper to contain all the preferences/users
    width: 90vw;
    height: 100%;
    display: inline-block;
    text-align: center;
    position: relative;
    right: 90%;
}
 
.userPreferred, .teacherSelected {//Color the state if the tag is preferred or the teacher is selected
    @extend .preferenceBox; 
    background-color: green;
}
 
.userNotPreferred {//Color the state if the tag is not preferred
    @extend .preferenceBox;
    background-color: red;       
}

.userMayTry {//Color the state if the tag is considered to be tried
    @extend .preferenceBox;
    background-color: goldenrod;       
}

.preferenceBox, .teacherBox {//CSS for the individual boxes.
    height: 15vw;
    width: 15vw;
    position: relative;
    display: inline-flex;
    padding: 1vw;
    cursor: pointer;

    p {//CSS for the captions below the boxes
        position: absolute;
        z-index: 10;
        bottom: -0.5vw;
        background-color: $altFontColor;
        opacity: 0.9;
        text-align: center;
        width: 15vw;
        word-wrap: wrap;
        font-size: 1.5vw;
    }
}

//CSS for the Custom Menu Mod
#customMenu {//Wrapper for the entire mod
    width: 70vw;
    padding-left: 3vw;
    text-align: left;
    padding-top: 1vw;
    a {//Hyperlink of each tab
        position: relative;
        padding: 10px;
        color: $altFontColor;
        text-decoration: none ;
        font-size: 1.7vw;
    }
    a:hover{//Animation effect when hovered over
        color: $mainFontColor;
        background-color: $altFontColor;
        text-decoration: none ;
        animation: flashing 1s;
        animation-iteration-count: infinite;
    }
} 



//This is the style for the Featured Article Mod (Or the Youtube Mod)
.featuredArticle{
    display: inline-flex;
    text-align: center;
    position: relative;
    background-color: brown;
    width: 90vw;
    //Style for the youtube video or display picture
    iframe, img {
        width: 50vw;
        height: 30vw;
    }
    //Style for the Featured Article Mod Texts
    .featuredArticleText{
        display: inline-block;
        font-size: 1.5vw;
        padding-top: 5%;
        padding-left: 2%;
        padding-right: 2%;
        width: 50%;
        h3{//Style for the header
            @extend h3;
            text-align: center;
        }
        p {
            font-size: 1.5vw;
        }
    }
}

//CSS for the search module
.search {
    padding-left: 5vw;
    width: 30vw;
    font-size: 1vw;
    padding-top: 1vw;
}

//CSS for the whos online module and latest news module
.latestnews, .whosonline li {
    font-size: 1vw;
}

//All Class Stats Mod
#allClassStatsTable{//CSS for the table
    left: -20vw;
    position: relative;
    background: green;
    border: 2px solid white;
    border-collapse: collapse;
    width: 70vw;
    tr, th, td {
        border: 2px solid white;
    }
}

//Your Class Stats Mod
.charts{//CSS for the google chart display
    display: inline-flex;
    position: relative;
    left: -20vw;
}

.yourClassStatsTable{//CSS for the table
    @extend #allClassStatsTable;
    background: blue;
}

//Class Modifier Mod
.classModifierForm{
    .switch{//Hide the toggle preference linkage button
        display: none;
    }
}

.tm_slider {//CSS for the slider
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .tm_slider:hover {//CSS for the slider if hover
    opacity: 1;
  }
  
  .tm_slider::-webkit-slider-thumb {//CSS for the slider button
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: $altFontColor;
    cursor: pointer;
  }
  
  .tm_slider::-moz-range-thumb {//CSS for the slider button
    width: 25px;
    height: 25px;
    background: $altFontColor;
    cursor: pointer;
  }

  .switch {//CSS for the toggle switch button
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { //CSS for the toggle switch input (To be hidden)
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {//Css for the main slider
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {//CSS of the main slider in before state
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: $mainFontColor;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .tm_input:checked + .slider {//CSS for the background of the slider
    background-color: $altFontColor;
  }
  
  .tm_input:focus + .slider {//CSS for the background of the slider
    box-shadow: 0 0 1px $altFontColor;
  }
  
  .tm_input:checked + .slider:before {//CSS for the before state of the slider
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {//Create the round shape of the slider
    border-radius: 34px;
  }
  
  .slider.round:before {//Create the round shape of the slider
    border-radius: 50%;
  }

  #bonusTags {//For the bonus tags input
    font-size: 1.3vw;
    width: 100%;
  }

//Animations for the main pages
@keyframes fadeIn {//Fade In Effect
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fromTop {//Come from the top effect
    from {
        top: -100%;
    }
    to {
        top: 0%;
    }
}

@keyframes fromLeft {//Come from the left effect
    from {
        left: -100%;
        opacity: 0;
    }
    to {
        left: 0%;
        opacity: 1;
    }
}

@keyframes flashing {//Flashing effect
    0% { opacity: 100%; }
    50% { opacity: 80%; }
    100% { opacity: 100%; }
  }