/*Variables*/
$pageBackground: black; //For background
$headerBackground: darkgray;
$mainFontColor: white; //For default font color
$altFontColor: yellow; //For alt default font color

/*Default Tags*/
body {//Body Tag
    background-color: $pageBackground;
    color: $mainFontColor;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-x: hidden;
    display: inline-block;
}

h3 {
    color: $altFontColor;
    text-align: left;
}

/*Custom Tags*/
.columnCenter{
    left: 30%;
    position: absolute;
    width: 33%;
    text-align: center;
}

.left {
    left: 0%;
}

.right{
    left: 80%;
}

#topRow{/*Set css for Top Right*/
    position: absolute;
    width: 100%;
    display: inline-block;
    height: 100px;
    background-color: $headerBackground;
    /*CSS for internal link*/
    a {
        position: absolute;
        font-size: x-large;
        height: 100%;
    }
    .logo{/*Set css for logo*/
        height:100%;
    }
}

#centerRow{
    position: absolute;
    width: 100%;
    top: 20%;
    .center {
        @extend .columnCenter;
    }
}

#bottomRow{
    position: absolute;
    width: 100%;
    top: 80%;
    .center {
        @extend .columnCenter;
        text-align: center;
    }
}

.accountIcon{
    width: 75px;
    height: 75px;
    text-align: right;
    padding: 15px;
    margin-left: 5%;
}

.articlesRow {
    display: inline-flex;
    width: 100%;
}

.recommendedArticles{
    display:inline-flex; 
    overflow-x: hidden;
    overflow-y: hidden; 
    height: 200px; 
    width: 125%;

    .article {
        position: relative;
        padding-right:5px; 
        width:175px; 
        height:175px; 
        text-align:center;

        img {
            width: 100%;
            height: 100%;
        }

        p {
            position: absolute;
            bottom: -10%;
            width: 97%;
            background-color: darkgray;
            opacity: 0.9;
            color: $mainFontColor;
        }
    }
}

.arrow {
    border: solid $mainFontColor;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    width: 20px;
    height: 20px;
    top: 50%;
    position: absolute;
  }

.arrowLeft {
    @extend .arrow;
    left: 0%;
    transform: rotate(135deg);
}

.arrowRight {
    @extend .arrow;
    transform: rotate(-45deg);
    left: 100%;
}