/*Variables*/
$pageBackground: black; //For background
$headerBackground: darkgray;
$mainFontColor: white; //For default font color
$altFontColor: yellow; //For alt default font color

/*Default Tags*/
body {//Body Tag
    background-color: $pageBackground;
    color: $mainFontColor;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-x: hidden;
    display: inline-block;
}

/*Custom Tags*/
.columnCenter{
    left: 25%;
    position: absolute;
}

.left {
    left: 0%;
}

.right{
    left: 80%;
}

#topRow{/*Set css for Top Right*/
    position: absolute;
    width: 100%;
    display: inline-block;
    height: 18%;
    background-color: $headerBackground;
    /*CSS for internal link*/
    a {
        width: 30%;
        position: absolute;
        font-size: x-large;
        height: 100%;
    }
}

#centerRow{
    position: absolute;
    width: 100%;
    top: 20%;
    .center {
        @extend .columnCenter;
    }
}

#bottomRow{
    position: absolute;
    width: 100%;
    top: 60%;
    .center {
        @extend .columnCenter;
    }
}

.logo{/*Set css for logo*/
    width: 100%;
    top:1%;
}

.accountIcon{
    width: 35%;
    height: 75%;
    text-align: center;
    padding: 2.5%;
}